h2.intro {
  color: purple;
  font-family: sans-serif;
}

p.intro {
  color: plum;
  font-family: sans-serif;
}

img.intro {
  border: 1 px solid #ddd;
  width: 50%;
  height: auto;
  margin-left: auto;
  display: block;
  margin-right: auto;
}